body {
    text-align: center;
    margin-top: 2rem;
}

.titlebox {
    height: 5rem;
    /* margin-bottom: 10px; */
    padding-top: 1rem;
    position: sticky;
}

.title {
    font-family: 'Lexend Tera', sans-serif;
    font-size: xx-large;
    color: brown;
    animation: mymove 0.5s infinite;
    display: inline;
    margin-top: 2rem;
}

@keyframes mymove {
    0% {
        opacity: 100%;
        font-size: 30px;
        height: 300px;
        width: auto;

    }

    50% {
        opacity: 50%;
        font-size: 32px;
        margin-bottom: 0;
        height: 300px;
        width: auto;
    }

    100% {
        opacity: 100%;
        font-size: 30px;
        height: 300px;
        width: auto;
    }
}

.alarm {
    width: 10rem;
    height:auto;
}
.resource {
    /* width: 60%;
    height: 40px; */
    border-radius: 50px;
    padding: 4px 20px 4px 20px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: blueviolet;
    border: 2px solid black;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
.resource .spanres {
    
    position: relative;
    z-index: 2;
}
.resource:after {
    border-radius: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: blueviolet;
    transition: all .35s;
}

.resource:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.resource:hover:after {
    width: 100%;
}